################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchedularDemo/bin/Debug/net8.0
/SchedularDemo/obj
/.vs
/SchedularDemo/Properties
